@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --Dark-Gray: hsl(0, 0%, 63%);
  --Black: hsl(0, 0%, 0%);
  --White: hsl(0, 0%, 100%);
  --Very-Dark-Gray: hsl(0, 0%, 27%);
  --Font-size: 12px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
  font-size: var(--Font-size);
}

.arroow {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.arroow:hover {
  background: rgba(203, 203, 200, 0.2);
}

.footerComp {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
